@import 'modern-normalize';
@import 'tailwindcss';

@theme {
	--color-violet-soft: rgb(226, 171, 255);
	--color-violet-soft-border: rgb(151, 92, 184);
	--color-violet-bright: #e2abff;
	--color-violet: #68298a;
	--color-violet-deep: rgb(79, 22, 110);
	--color-blue-soft: #465991;
	--color-blue-deep: #242c59;
	--color-blue-bright: #009ecf;
	--color-white: #ffffff;
	--color-white-muted: #e6eaf0;
	--color-grey-light: rgb(185, 191, 199);
	--color-grey-muted: #b9bfc7;
	--color-grey: #7e838f;
	--color-grey-deep: rgb(42, 43, 51);
	--color-grey-bg: rgb(66, 69, 79);
	--color-grey-border: rgb(93, 97, 107);
	--color-grey-translucent: rgba(42, 43, 51, 0.5);
	--color-overlay: #0a0d14a3;
	--color-orange: #db3000;
	--color-orange-dark: #bf2a00;
	--color-orange-bright: #ff6c3b;
	--color-orange-red: rgb(255, 143, 102);
	--color-yellow: #edc568;
	--color-green-light: #43a771;
	--color-green: #35855a;
	--color-green-deep: #256141;
	--color-black: #14141a;
	--color-black-deep: #101014;
	--color-black-soft-bg: #1b1b21;
	--color-black-deep-bg: rgb(16, 16, 20);

	/* Font sizes */
	--text-xs: 10px;
	--text-sm: 12px;
	--text-md: 14px;
	--text-lg: 20px;
	--text-xl: 24px;
	--text-2xl: 32px;

	/* Spacing (margin/padding) */
	--spacing-xxs: 2px;
	--spacing-xs: 4px;
	--spacing-sm: 6px;
	--spacing-sm-plus: 7px;
	--spacing-md: 8px;
	--spacing-md-plus: 9px;
	--spacing-md-strong: 10px;
	--spacing-lg: 12px;
	--spacing-lg-plus: 16px;
	--spacing-lg-strong: 18px;
	--spacing-xl: 24px;
	--spacing-xl-plus: 27px;
	--spacing-2xl: 32px;
	--spacing-3xl: 36px;
	--spacing-4xl: 54px;

	/* Border radius */
	--radius-xs: 4px;
	--radius-sm: 6px;
	--radius-md: 8px;
	--radius-lg: 16px;

	/* Max-w */
	--max-width-lg: 1014px;

	/* Breakpoints */
	--breakpoint-sm: 576px;
	--breakpoint-md: 756px;
	--breakpoint-lg: 1008px;

	/* Shadows */
	--shadow-header: 0px 0px 0px 1px var(--color-grey-deep);
	--shadow-card: inset 1px 0px 5px 5px var(--color-violet-deep);
}

@layer base {
	body {
		font-family: 'Roboto', sans-serif;
		color: var(--color-white-muted);
		background-color: var(--color-black-deep-bg);
	}

	html,
	body {
		width: 100%;
		overflow-x: hidden;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p {
		margin: 0;
	}

	ul,
	ol {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	a {
		text-decoration: none;
		color: inherit;
	}

	button {
		cursor: pointer;
	}

	img {
		display: block;
	}

	.visually-hidden {
		position: absolute;
		width: 1px;
		height: 1px;
		margin: -1px;
		border: 0;
		padding: 0;
		white-space: nowrap;
		clip-path: inset(100%);
		clip: rect(0 0 0 0);
		overflow: hidden;
	}
}

.custom-scroll::-webkit-scrollbar {
	width: 8px;
}

.custom-scroll::-webkit-scrollbar-track {
	background: var(--color-grey);
	border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb {
	background: var(--color-super-grey);
	border-radius: 10px;
}

.hidden-scroll {
	overflow-y: scroll;
	scrollbar-width: none;
	-ms-overflow-style: none;
}

.hidden-scroll::-webkit-scrollbar {
	width: 0;
	height: 0;
}

.dropDownAnimation {
	animation: smooth-appearance 300ms;
}

@keyframes smooth-appearance {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
